import("./window_control_placeholder_support.css")

/* hide tab bar */
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
  visibility: collapse !important;
}
#tabbrowser-tabs {
  visibility: collapse !important;
}
/* hide sidebar header */
#sidebar-header {
  display: none;
}
#sidebar-splitter {
  width: 0px !important;
  border-left-width: 0 !important;
  border-right-width: 1px !important;
}
